<div class="container" @cardAnimation>
  <div class="card">
    <form [formGroup]="sqlForm" (ngSubmit)="onSubmit()">
      <div class="file-upload-section">
        <app-file-input (fileContent)="onFileUploaded($event)"></app-file-input>
      </div>

      <div formArrayName="tables">
        <div *ngFor="let table of tables.controls; let tableIndex = index">
          <div [formGroupName]="tableIndex" class="table-section">
            <div class="table-header">
              <h3>Table {{ tableIndex + 1 }}</h3>
              <button
                mat-icon-button
                color="warn"
                type="button"
                (click)="removeTable(tableIndex)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <mat-form-field appearance="outline" class="form-group">
              <mat-label>Table Name</mat-label>
              <input
                matInput
                formControlName="tableName"
                required
                placeholder="Enter table name"
              />
            </mat-form-field>

            <div formArrayName="columns" class="column-section">
              <h4>Columns</h4>
              <div
                *ngFor="
                  let column of getColumns(tableIndex).controls;
                  let columnIndex = index
                "
                [formGroupName]="columnIndex"
                class="column-form"
              >
                <div class="column-header">
                  <h5>Column {{ columnIndex + 1 }}</h5>
                  <button
                    mat-icon-button
                    color="warn"
                    type="button"
                    (click)="removeColumnFromTable(tableIndex, columnIndex)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <mat-form-field appearance="outline">
                  <mat-label>Column Name</mat-label>
                  <input matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="type" required>
                    <mat-option value="INT">Integer</mat-option>
                    <mat-option value="VARCHAR(255)">Text</mat-option>
                    <mat-option value="DATETIME">Date/Time</mat-option>
                    <mat-option value="DECIMAL(10,2)">Decimal</mat-option>
                    <mat-option value="BOOLEAN">Boolean</mat-option>
                    <mat-option value="TEXT">Long Text</mat-option>
                    <mat-option value="TIMESTAMP">Timestamp</mat-option>
                    <mat-option value="TIME">Time</mat-option>
                    <mat-option value="DATE">Date Only</mat-option>
                    <mat-option value="BIGINT">Big Integer</mat-option>
                    <mat-option value="FLOAT">Float</mat-option>
                    <mat-option value="DOUBLE">Double</mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="checkbox-group">
                  <mat-checkbox formControlName="primaryKey"
                    >Primary Key</mat-checkbox
                  >
                  <mat-checkbox formControlName="autoIncrement"
                    >Auto Increment</mat-checkbox
                  >
                  <mat-checkbox formControlName="required"
                    >Required</mat-checkbox
                  >
                  <mat-checkbox formControlName="unique">Unique</mat-checkbox>
                </div>

                <mat-form-field appearance="outline">
                  <mat-label>References (table.column)</mat-label>
                  <input
                    matInput
                    formControlName="reference"
                    placeholder="tablename.columnname"
                  />
                </mat-form-field>
              </div>

              <button
                mat-stroked-button
                type="button"
                (click)="addColumnToTable(tableIndex)"
              >
                <mat-icon>add</mat-icon>
                Add Column
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="button-group">
        <button mat-raised-button type="button" (click)="addTable()">
          <mat-icon>add</mat-icon>
          Add Table
        </button>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!sqlForm.valid || tables.length === 0 || isLoading"
        >
          <ng-container *ngIf="isLoading; else generateButton">
            <mat-spinner diameter="20"></mat-spinner>
          </ng-container>
          <ng-template #generateButton>
            <mat-icon>play_arrow</mat-icon>
            <span>Generate SQL</span>
          </ng-template>
        </button>
      </div>
    </form>
  </div>

  <div class="sql-output-section" *ngIf="generatedSQL">
    <app-sql-output
      [sql]="generatedSQL"
      [tables]="sqlForm.value.tables"
    ></app-sql-output>
  </div>
</div>
